$button-common-color: $accent-color;
$button-common-color-hover: #0862ba;

@mixin make-button() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: rem(220px);
  padding: rem(22);
  text-align: center;
  font-weight: 700;
  font-size: rem(18);
  font-family: $secondary-font;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  outline: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid;
  border-radius: rem(40);
  box-sizing: border-box;
  transition-property: background, color, border-color;
  transition-duration: ($duration * 2);
  cursor: pointer;
}

@mixin --button-action() {
  color: $accent-color;

  &:hover,
  &:focus {
    color: $white-color;
    border-color: transparent;
    background-color: $accent-color;
  }

  &:active {
    background-color: $accent-color;
  }
}

@mixin --button-submit() {
  color: #fff;
  background-color: $accent-color;
  border-color: transparent;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $button-common-color-hover;
    border-color: transparent;
  }

  &:active {
    color: #fff;
    background-color: darken($accent-color, 1%);
    border-color: transparent;
  }
}

@mixin --button-common() {
  color: #fff;
  background-color: $accent-color;
  border-color: transparent;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $button-common-color-hover;
    border-color: transparent;
  }

  &:active {
    color: #fff;
    background-color: darken($accent-color, 1%);
    border-color: transparent;
  }
}

.button {
  @include make-button();
  @include --button-common();
}
