.section {
  padding-top: ($grid-gutter-width * 2);
  padding-bottom: ($grid-gutter-width * 2);
}

.section__title {
  display: block;
  margin: 0;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: rem(34);
  line-height: 1.25;
  font-family: $secondary-font;
  text-transform: uppercase;
  color: $accent-color;

  @include mq-min(568px) {
    font-size: rem(40);
  }

  @include mq-min(768px) {
    font-size: rem(45);
  }
}

.section__lead {
  @include clear-mr-edges-elem();

  max-width: rem(970);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.3rem;
  text-align: center;
  font-size: 1.15rem;
}
