.section-catch-attention {
  position: relative;
  padding: 0;
  text-align: center;
  color: #fff;
  background: #494B67 url("https://images.unsplash.com/photo-1452727333656-23ae1299777a?ixlib=rb-0.3.5&s=f80ce7b55dc7b668608d5343c1063de3&auto=format&fit=crop&w=800&q=80") no-repeat center / cover;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, 0.4);
    background-image: repeating-linear-gradient(-45deg, rgba(#000, 0.05) 0, rgba(#000, 0.05) 3px, rgba(#000, 0) 3px, rgba(#000, 0) 7px);
  }
}

.section-catch-attention__inner {
  position: relative;
  padding-top: ($grid-gutter-width * 3.5);
  padding-bottom: ($grid-gutter-width * 3.5);
}

.section-catch-attention__title {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.section-catch-attention__button {
  padding-left: 40px;
  padding-right: 40px;
  font-size: rem(32);
}

.section-catch-attention__phone {
  position: absolute;
  top: 40px;
  right: 40px;
  font-weight: 500;
  font-size: rem(32);
  line-height: 1.15;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  transition: $duration;

  &:hover,
  &:focus {
    color: #ffffff;
    border-bottom-color: rgba(#ffffff, 0.5);
  }
}
