.welcome {
  background: #fff4e2 url("../images/bg-welcome.jpg") no-repeat bottom / cover;
}

.welcome__inner {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-top: rem(60);
  padding-bottom: rem(60);
  box-sizing: border-box;
}

.welcome__title {
  max-width: 500px;
  margin: 0;
  font-size: rem(38);
  line-height: 1.3;
  color: $accent-color;
  text-align: center;
  text-transform: uppercase;

  @include mq-min(568px) {
    text-align: left;
  }

  @include mq-min(768px) {
    width: 50%;
    font-size: rem(48);
    text-align: left;
  }

  @include mq-min(1280px) {
    width: 45%;
    font-size: rem(58);
  }
}

.welcome__pointer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  z-index: 1;
  width: 1.5rem;
  height: 2.4rem;
  border: 2px solid #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.7rem / 0.65rem;
  box-sizing: border-box;
  background-color: rgba(#000, 0.1);
  animation: pulse 1.7s infinite alternate linear;
  will-change: box-shadow;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    right: 0;
    width: 2px;
    height: 12px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 15px 4px rgba(#000, 0.2);
  }
  100% {
    box-shadow: 0 0 20px 6px rgba(#000, 0.2);
  }
}
